<div class="ms-callout-container">
    <div class="ms-ContextualHost is-positioned ms-ContextualHost--arrowLeft" [class.is-open]="showCallout">
        <div class="ms-ContextualHost-main">
            <button class="ms-Callout-close" [hidden]="!showClose" (click)="toggleCallout()">
                <i class="ms-Icon ms-Icon--Clear"></i>
            </button>
            <div class="ms-Callout">
                <div class="ms-Callout-main">
                    <div class="ms-Callout-header">
                        <p class="ms-Callout-title">
                            <ng-content select="uif-callout-header"></ng-content>
                        </p>
                    </div>
                    <div class="ms-Callout-inner">
                        <div class="ms-Callout-content">
                            <p class="ms-Callout-subText">
                                <ng-content select="uif-callout-content"></ng-content>
                            </p>
                        </div>
                        <div class="ms-Callout-actions">
                            <ng-content select="uif-callout-actions"></ng-content>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ms-ContextualHost-beak" [hidden]="!showBeak"></div>
    </div>
    <div class="ms-Callout-button" (click)="toggleCallout()">
        <ng-content select="uif-open-callout"></ng-content>
    </div>
</div>