<div style="display: block; padding: 0 0 24px 0;">
    <form>
        <div style="display:inline-block;">
            <h5>View Type In List</h5>
            <select name="viewType" [(ngModel)]="viewTypeInList">
                <option *ngFor="let hint of viewTypeHints" [value]="hint.key">{{hint.text}}</option>
            </select>
        </div>
        <div class="vertical-separator"></div>
        <div class="vertical-separator"></div>
        <div style="display:inline-block;">
            <h5>Close On Selection</h5>
            <select name="hasOverlayHints" [(ngModel)]="closeOnSelection">
                <option *ngFor="let hint of booleanHints" [value]="hint.key">{{hint.text}}</option>
            </select>
        </div>
    </form>
    <div class="horizontal-separator"></div>
    <div class="horizontal-separator"></div>
    <h5>Search Token : <b><small>{{token}}</small></b></h5>
    <h5>Selected People:</h5>
    <pre style="font-weight: 100; font-size: small;">{{getSelectedJson()}}</pre>
    <div class="horizontal-separator"></div>
    <div class="horizontal-separator"></div>
    <uif-people-picker 
        [(pickerGroups)]="pickerGroups" 
        [(searchToken)]="token" 
        [(selectedPeople)]="selectedPeople" 
        [closeOnSelection]="getBoolean(closeOnSelection)"
        [viewTypeInList]="viewTypeInList"
        [allowRemovalOfPersona]="allowRemovalOfPersona" 
        (personaRemove)="onPersonaRemoved($event)" 
        (searchTokenChange)="onSearchTokenChanged($event)"></uif-people-picker>
</div>