<div style="padding: 0 0 24px 0;">
    <form>
        <div style="display: inline-block;">
            <h5> Search icons by</h5>
            <input class="form-control" [(ngModel)]="searchToken" name="searchToken" type="input" />
        </div>
        <div class="vertical-separator"></div>
        <div class="vertical-separator"></div>
        <div style="display: inline-block;">
            <h5> Filter icons by</h5>
            <label *ngFor="let filter of filters; let i = index;" [attr.for]="'cb_' + i" class="demo-cb-filter">
                <uif-checkbox (change)="applyFilters()" [label]="filter.key" [name]="'_cb_' + i" type="checkbox" [(ngModel)]="filter.active"
                    [attr.id]="'cb_' + i"></uif-checkbox>
            </label>
        </div>
        <div class="horizontal-separator"></div>
        <div class="horizontal-separator"></div>
        <div style="display:inline-block;">
            <h5>Color</h5>
            <select name="colorHints" [(ngModel)]="color">
                <option *ngFor="let hint of colorHints" [value]="hint.key">{{hint.text}}</option>
            </select>
        </div>
        <div class="vertical-separator"></div>
        <div class="vertical-separator"></div>
        <div style="display:inline-block;">
            <h5>Size</h5>
            <select name="sizeHints" [(ngModel)]="size">
                <option *ngFor="let hint of sizeHints" [value]="hint.key">{{hint.text}}</option>
            </select>
        </div>
        <div class="vertical-separator"></div>
        <div class="vertical-separator"></div>
        <div style="display:inline-block;">
            <h5>Flip</h5>
            <select name="flipHints" [(ngModel)]="flip">
                <option *ngFor="let hint of flipHints" [value]="hint.key">{{hint.text}}</option>
            </select>
        </div>
        <div class="vertical-separator"></div>
        <div class="vertical-separator"></div>
        <div style="display:inline-block;">
            <h5>Badge</h5>
            <select name="badgeHints" [(ngModel)]="badge">
                <option *ngFor="let hint of badgeHints" [value]="hint.key">{{hint.text}}</option>
            </select>
        </div>
        <div class="vertical-separator"></div>
        <div class="vertical-separator"></div>
        <div style="display:inline-block;">
            <h5>Dir</h5>
            <select name="dirHints" [(ngModel)]="dir">
                <option *ngFor="let hint of dirHints" [value]="hint.key">{{hint.text}}</option>
            </select>
        </div>
        <div class="horizontal-separator"></div>
        <div class="horizontal-separator"></div>
        <div class="horizontal-separator"></div>
        <div style="display: inline-block" [hidden]="!showIconsSizerBtn">
            <uif-button (click)="toggleSize()">
                <span [hidden]="noOfIconsToShow === 100">Show top 100 icons</span>
                <span [hidden]="noOfIconsToShow !== 100">Show all icons</span>
            </uif-button>
        </div>
    </form>
    <div class="horizontal-separator"></div>
    <div class="horizontal-separator"></div>
    <div class="horizontal-separator"></div>
    <ng-container *ngFor="let icon of (icons | search: searchToken); let iconIndex = index;">
        <div class="demo-icon" *ngIf="iconIndex <= noOfIconsToShow ">
            <div class="demo-icon-holder" [style.width]="size + 'px'">
                <span class="demo-icon-code" [style.color]="color" [style.fontSize]="size + 'px'" [innerHTML]="icon.code"></span>
                <uif-icon [name]="icon?.name" [color]="color" [size]="size" [flip]="flip" [badge]="badge" [dir]="dir"></uif-icon>
            </div>
            <label>{{icon.name}}</label>
        </div>
    </ng-container>
    <div class="clearfix"></div>
    <div class="horizontal-separator"></div>
    <div class="horizontal-separator"></div>
    <div style="display:block; clear: both; padding-top: 30px;" [hidden]="!showIconsSizerBtn">
        <uif-button (click)="toggleSize()">
            <span [hidden]="noOfIconsToShow === 100">Show top 100 icons</span>
            <span [hidden]="noOfIconsToShow !== 100">Show all icons</span>
        </uif-button>
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>