<!--The content below is only a placeholder and can be replaced.-->
<div class="demo-header">
    <h1>&lt;uif-fabric&gt;</h1>
    <h4>Angular 2/4 components library under development for
        <a target="_blank" href="https://developer.microsoft.com/en-us/fabric">Office UI Fabric</a>
    </h4>
</div>
<div class="clearfix"></div>
<div class="demo-container">
    <app-breadcrumb-demo></app-breadcrumb-demo>
</div>
<div class="demo-container">
    <app-button-demo></app-button-demo>
</div>
<div class="demo-container">
    <app-callout-demo></app-callout-demo>
</div>
<div class="demo-container">
    <app-contextualmenu-demo></app-contextualmenu-demo>
</div>
<div class="demo-container">
    <app-datepicker-demo></app-datepicker-demo>
</div>
<div class="demo-container">
    <app-dialog-demo></app-dialog-demo>
</div>
<h4 style="text-align:right">
    <a target="_blank" href="http://www.asitparida.com/">http://www.asitparida.com</a>
</h4>