<!--The content below is only a placeholder and can be replaced.-->
<div class="demo-header">
    <h1>&lt;uif-fabric&gt;</h1>
    <h4>Angular 2/4 components library under development for
        <a target="_blank" href="https://developer.microsoft.com/en-us/fabric">Office UI Fabric</a>
    </h4>
</div>
<div class="clearfix"></div>
<app-demoer id="app-breadcrumb-demo" title="uif-breadcrumb">
    <app-breadcrumb-demo></app-breadcrumb-demo>
</app-demoer>
<app-demoer id="app-button-demo" title="uif-button">
    <app-button-demo></app-button-demo>
</app-demoer>
<app-demoer id="app-callout-demo" title="uif-callout">
    <app-callout-demo></app-callout-demo>
</app-demoer>
<app-demoer id="app-contextualmenu-demo" title="uif-contextualmenu">
    <app-contextualmenu-demo></app-contextualmenu-demo>
</app-demoer>
<app-demoer id="app-datepicker-demo" title="uif-datepicker">
    <app-datepicker-demo></app-datepicker-demo>
</app-demoer>
<app-demoer id="app-dialog-demo" title="uif-dialog">
    <app-dialog-demo></app-dialog-demo>
</app-demoer>
<app-demoer id="app-dropdown-demo" title="uif-dropdown">
    <app-dropdown-demo></app-dropdown-demo>
</app-demoer>
<app-demoer id="app-facepile-demo" title="uif-facepile">
    <app-facepile-demo></app-facepile-demo>
</app-demoer>
<h4 style="text-align:right">
    <a target="_blank" href="http://www.asitparida.com/">http://www.asitparida.com</a>
</h4>