i.ms-Icon {
    &:not(.flip-horizontal):not(.flip-vertical) {
        &.has-alert-badge,
        &.has-success-badge,
        &.has-warning-badge  {
            &:not(.dir-down):not(.dir-left):not(.dir-right):after {
                top: -5px;
                right: -5px;
            }
            &.dir-down:after {
                left: -5px;
                right: auto;
                bottom: -5px;
                top: auto;
            }
            &.dir-left:after {
                bottom: -5px;
                top: auto;
            }
            &.dir-right:after {
                left: -5px;
                right: auto;
            }
        }
    }
    &.flip-horizontal {
        transform: scaleX(-1);
        &.has-alert-badge,
        &.has-success-badge,
        &.has-warning-badge  {
            &:not(.dir-down):not(.dir-left):not(.dir-right):after {
                left: -5px;
                right: auto;
            }
            &.dir-down:after {
                left: -5px;
                right: auto;
                bottom: -5px;
                top: auto;
            }
            &.dir-left:after {
                bottom: -5px;
                top: auto;
            }
            &.dir-right:after {
                left: -5px;
                right: auto;
            }
        }
    }
    &.flip-vertical {
        transform: scaleY(-1);
        &.has-alert-badge,
        &.has-success-badge,
        &.has-warning-badge  {
            &:not(.dir-down):not(.dir-left):not(.dir-right):after {
                bottom: -5px;
                top: auto;
            }
            &.dir-down:after {
                left: -5px;
                right: auto;
                bottom: -5px;
                top: auto;
            }
            &.dir-left:after {
                bottom: -5px;
                top: auto;
            }
            &.dir-right:after {
                left: -5px;
                right: auto;
            }
        }
    }
    &.has-alert-badge {
        position: relative;
        &:after {
            content: ' ';
            width: 30%;
            height: 30%;
            background: #e81123;
            border-radius: 50%;
            position: absolute;
            top: -5px;
            right: -5px;
            border: 3px solid #fff;
        }
    }
    &.has-success-badge {
        position: relative;
        &:after {
            content: ' ';
            width: 30%;
            height: 30%;
            background: #107c10;
            border-radius: 50%;
            position: absolute;
            top: -5px;
            right: -5px;
            border: 3px solid #fff;
        }
    }
    &.has-warning-badge {
        position: relative;
        &:after {
            content: ' ';
            width: 30%;
            height: 30%;
            background: #ffb900;
            border-radius: 50%;
            position: absolute;
            top: -5px;
            right: -5px;
            border: 3px solid #fff;
        }
    }
    &.dir-down {
        transform: rotate(180deg);
    }
    &.dir-right {
        transform: rotate(90deg);
    }
    &.dir-left {
        transform: rotate(-90deg);
    }
}