<div style="padding: 0 0 24px 0;">
    <form>
        <div style="display:inline-block;">
            <h5>Selectable</h5>
            <select name="booleanHints" [(ngModel)]="selectable">
                <option *ngFor="let hint of booleanHints" [value]="hint.key">{{hint.text}}</option>
            </select>
        </div>
    </form>
    <div class="horizontal-separator"></div>
    <div class="horizontal-separator"></div>
    <h5>Overall Selection:
        <b>{{allSelected}}</b>
    </h5>
    <pre>{{getRowJson()}}</pre>
    <div class="horizontal-separator"></div>
    <uif-table [selectable]="getBoolean(selectable)" classes="demo-tablestyles">
        <thead>
            <tr [(selected)]="allSelected" uifTableRow>
                <th>Album</th>
                <th class="width-fixed">Year</th>
                <th class="width-fixed">US Chart Peak</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of rows" [(selected)]="row.selected" uifTableRow>
                <td>{{row.album}}</td>
                <td>{{row.year}}</td>
                <td>{{row.US_peak_chart_post}}</td>
            </tr>
        </tbody>
    </uif-table>
</div>