<div style="padding: 0 0 24px 0;">
    <form>
        <div style="display:inline-block;">
            <h5>Progress for Determinate Indicator </h5>
            <select name="progressHints" [(ngModel)]="progress">
                <option *ngFor="let hint of progressHints" [value]="hint.key">{{hint.text}}</option>
            </select>
        </div>
        <div class="vertical-separator"></div>
        <div class="vertical-separator"></div>
        <div style="display:inline-block;">
            <h5>Indicator Width</h5>
            <select name="widthHints" [(ngModel)]="width">
                <option *ngFor="let hint of widthHints" [value]="hint.key">{{hint.text}}</option>
            </select>
        </div>
    </form>
    <div class="horizontal-separator"></div>
    <div class="horizontal-separator"></div>
    <div class="horizontal-separator"></div>
    <h5> Determinate Progress Indicator</h5>
    <uif-progress-indicator [progressBarWidth]="width" name="Sample Indicator name" description="Sample Indicator Description" [progress]="progress"></uif-progress-indicator>
    <div class="horizontal-separator"></div>
    <div class="horizontal-separator"></div>
    <div class="horizontal-separator"></div>
    <h5> Indeterminate Progress Indicator</h5>
    <uif-progress-indicator [indeterminate]="isIndeterminate" [progressBarWidth]="width"></uif-progress-indicator>
</div>