<div>
	<button class="ms-FacePile-addButton ms-FacePile-addButton--addPerson">
		<i class="ms-FacePile-addPersonIcon ms-Icon ms-Icon--AddFriend"></i>
	</button>
	<div class="facepile-item" *ngFor="let card of facepileCards">
		<uif-callout showClose="false" [showArrow]="showArrow" [showHeader]="showHeader" [showActions]="showActions" [calloutClasses]="calloutClasses"
		 [contentClasses]="contentClasses" [showArrow]="false" [(isOpen)]="card.isOpen" [directionalHint]="card.directionalHint">
			<uif-open-callout (click)="toggleFacePiles(card)">
				<span class="ms-Persona ms-Persona--facePile">
					<uif-persona [persona]="card.personaCard.personalDetails"></uif-persona>
				</span>
			</uif-open-callout>
			<uif-callout-content>
				<uif-persona-card [personaCard]="card.personaCard"></uif-persona-card>
			</uif-callout-content>
		</uif-callout>
	</div>
	<button class="ms-FacePile-addButton ms-FacePile-addButton--overflow">
		<span class="ms-FacePile-overflowText">+3</span>
	</button>
</div>