<h2>uif-callout</h2>
<div style="display: block; padding: 0 0 24px 0;">
    <form>
        <div style="display:inline-block;">
            <h4>Direction Hint</h4>
            <select name="directionHint" [(ngModel)]="directionHint">
                <option *ngFor="let hint of directionHints" [value]="hint.key">{{hint.text}}</option>
            </select>
        </div>
        <div class="vertical-separator"></div>
        <div class="vertical-separator"></div>
        <div style="display:inline-block;">
                <h4>Trigger Hint</h4>
                <select name="triggerHint" [(ngModel)]="triggerHint">
                    <option *ngFor="let hint of triggerHints" [value]="hint.key">{{hint.text}}</option>
                </select>
            </div>
            <div class="vertical-separator"></div>
            <div class="vertical-separator"></div>
        <div style="display:inline-block;">
            <h4>Show Arrow</h4>
            <select name="showArrow" [(ngModel)]="showArrow">
                <option *ngFor="let item of arrowOptions" [value]="item.key">{{item.text}}</option>
            </select>
        </div>
        <div class="vertical-separator"></div>
        <div class="vertical-separator"></div>
        <div style="display:inline-block;">
            <h4>Gap</h4>
            <input name="gap" [(ngModel)]="gap" type="number" max="30" min="0" step="1"  >
        </div>
    </form>
    <div style="display:block; margin: 30px auto;text-align:center">
        <uif-callout showClose="true" [showArrow]="showArrow" [directionalHint]="directionHint" [gap]="gap" [triggerHint]="triggerHint">
            <uif-callout-header>All of your favorite people</uif-callout-header>
            <uif-callout-content>Message body is optional. If help documentation is available, consider adding a link to learn more at the bottom.</uif-callout-content>
            <uif-callout-actions>
                <a class="ms-Link">Learn more</a>
            </uif-callout-actions>
            <uif-open-callout>
                <uif-button>Show Default Callout</uif-button>
            </uif-open-callout>
        </uif-callout>
    </div>
</div>