<div style="display: block; padding: 0 0 24px 0;">
    <h5>Default</h5>
    <uif-message-bar [type]="messageBarTypeDefault">
        Lorem ipsum dolor sit amet, a elit sem interdum consectetur adipiscing elit.
        <br />
        <a href="#" class="ms-Link">Hyperlink string</a>
    </uif-message-bar>
    <div class="horizontal-separator"></div>
    <div class="horizontal-separator"></div>
    <h5>Success</h5>
    <uif-message-bar [type]="messageBarTypeSuccess">
        Lorem ipsum dolor sit amet, a elit sem interdum consectetur adipiscing elit.
        <br />
        <a href="#" class="ms-Link">Hyperlink string</a>
    </uif-message-bar>
    <div class="horizontal-separator"></div>
    <div class="horizontal-separator"></div>
    <h5>Error</h5>
    <uif-message-bar [type]="messageBarTypeError">
        Lorem ipsum dolor sit amet, a elit sem interdum consectetur adipiscing elit.
        <br />
        <a href="#" class="ms-Link">Hyperlink string</a>
    </uif-message-bar>
    <div class="horizontal-separator"></div>
    <div class="horizontal-separator"></div>
    <h5>Blocked</h5>
    <uif-message-bar [type]="messageBarTypeBlocked">
        Lorem ipsum dolor sit amet, a elit sem interdum consectetur adipiscing elit.
        <br />
        <a href="#" class="ms-Link">Hyperlink string</a>
    </uif-message-bar>
    <div class="horizontal-separator"></div>
    <div class="horizontal-separator"></div>
    <h5>Warning</h5>
    <uif-message-bar [type]="messageBarTypeWarning">
        Lorem ipsum dolor sit amet, a elit sem interdum consectetur adipiscing elit.
        <br />
        <a href="#" class="ms-Link">Hyperlink string</a>
    </uif-message-bar>
    <div class="horizontal-separator"></div>
    <div class="horizontal-separator"></div>
    <h5>Severe Warning</h5>
    <uif-message-bar [type]="messageBarTypeSevereWarning">
        Lorem ipsum dolor sit amet, a elit sem interdum consectetur adipiscing elit.
        <br />
        <a href="#" class="ms-Link">Hyperlink string</a>
    </uif-message-bar>
</div>