.ms-contextual-menu-container {
    display: inline-block;
    /deep/ [menuTrigger] {
        display: inline-block;
    }
    .ms-ContextualMenu {
        position: absolute;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.4);
        z-index: 1;
        &:not(.top).is-open {
            animation: fadein-carousel-down;   
            animation-duration: 0.367s;
        }
        &.top {
            &.is-open {
                animation: fadein-carousel-up;   
                animation-duration: 0.367s;
            }
            bottom: 0;
            &.is-sub-menu {
                margin-bottom: -50%;
            }
        }
        &:not(.top).is-sub-menu {
            margin-top: -50%;
        }
    }
    .ms-contextual-menu-holder {
        position: relative;
    }
    /deep/ .ms-ContextualMenu-item {
        &.ms-ContextualMenu-item--hasMenu {
           /deep/ .ms-contextual-menu-container {
                display: inline;
            }
        }
    }
}
@keyframes fadein-carousel-down {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadein-carousel-up {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}